<% provide(:title, 'TOP') %>
<h1>INDEX</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title"><span class="label label-danger">No1</span>ユーザー名</h5>
      </div>
      <div class="panel-body">
        <table class="table table-noborder">
          <tr>
            <th>目標</th>
            <td>グローバルインテリマッチョ</td>
          </tr>
          <tr>
            <th>毎日やること</th>
            <td>英単語毎日５分</td>
          </tr>
          <tr>
            <th>達成率</th>
            <td>90％</td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title"><span class="label label-danger">No2</span>ユーザー名</h5>
      </div>
      <div class="panel-body">
        <table class="table table-noborder">
          <tr>
            <th>目標</th>
            <td>グローバルインテリマッチョ</td>
          </tr>
          <tr>
            <th>毎日やること</th>
            <td>英単語毎日５分</td>
          </tr>
          <tr>
            <th>達成率</th>
            <td>90％</td>
          </tr>
        </table>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title"><span class="label label-danger">No3</span>ユーザー名</h5>
      </div>
      <div class="panel-body">
        <table class="table table-noborder">
          <tr>
            <th>目標</th>
            <td>グローバルインテリマッチョ</td>
          </tr>
          <tr>
            <th>毎日やること</th>
            <td>英単語毎日５分</td>
          </tr>
          <tr>
            <th>達成率</th>
            <td>90％</td>
          </tr>
        </table>
      </div>
    </div>
    
    
  </div>
</div>