<h1>new</h1>

○月

新規登録
<form action="" method="post">

  <div class="container">
    目標
   <input type="text" name="goal" id="">
  </div>
  <div class="container">
    いつまで
   <input type="text" name="end" id="">
  </div>
  <div class="container">
    日々の積み重ね
   <input type="text" name="task" id="">
  </div>
  <div class="container">
    目標○数
   <input type="number" name="kpi" id="" min="0" max="31">
  </div>
  
  <input type="submit" value="更新">
  </form>
  進捗
