<footer class="footer">
  <small>
    The <a href="https://peraichi.com/landing_pages/view/terakoyahp/">TERAKOYA DERBY</a>
  </small>
  <nav>
    <ul>
      <li>AAA</li>
      <li><a href="#">AA</a></li>
    </ul>
  </nav>
</footer>